@model BlogCreateViewModel

@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/45.1.0/ckeditor5.css" />
<script src="https://cdn.ckeditor.com/ckeditor5/45.1.0/ckeditor5.umd.js"></script>
<!-- Add if you use premium features. -->
<link rel="stylesheet"
    href="https://cdn.ckeditor.com/ckeditor5-premium-features/45.1.0/ckeditor5-premium-features.css" />
<script src="https://cdn.ckeditor.com/ckeditor5-premium-features/45.1.0/ckeditor5-premium-features.umd.js"></script>
<!--  -->
<style>
    .main-container {
        width: 795px;
        margin-left: auto;
        margin-right: auto;
    }
</style>


<div class="container">
    <div class="mt-2">
        <h1 class="bg-dark text-white rounded w-25 text-center p-2">Blog Ekleme</h1>
        <div class="border rounded bg-light p-3">
            <form asp-controller="Admin" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div asp-validation-summary="All"></div>
                    <div class="col-md-4 mt-2">
                        <input asp-for="@Model.Word.AnaBaşlık" class="form-control" placeholder="Başlık">
                        <span asp-validation-for="@Model.Word.AnaBaşlık" class="text-danger"></span>

                        <input asp-for="@Model.Word.DateTime" class="form-control mt-2">

                        <span asp-validation-for="@Model.Word.MiniAciklama" class="text-danger"></span>
                        <textarea asp-for="@Model.Word.MiniAciklama" class="form-control mt-2" rows="5" placeholder="Mini Açıklama Giriniz" id=""></textarea>

                        <input asp-for="@Model.Word.Resim" class="form-control mt-2">

                        <select asp-for="@Model.Word.Konu" class="form-control mt-2">
                            <option value="">Kategori Seçiniz</option>
                            @foreach(var result in Model.KonularList) {
                                <option value="@result.Konu">@result.Konu</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.Word.Konu" class="text-danger"></span>
                    </div>
                    <div class="col-md-8 mt-2">
                        <textarea asp-for="@Model.Word.Açıklama" id="maintext" class="form-control" rows="30"
                            placeholder="Yazınızı buraya girin..."></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center mt-2">
                        <button type="submit" class="btn btn-outline-success w-50">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/hx26bm7vb0v5uoo6ari33ey5ld2ouxn7sfa9gvre1fes6mdq/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
  });
</script>