@model List<WordModel>

@{
    Layout = "_AdminLayout";
}



<div class="d-flex align-items-center">
    <div class="container mt-5">
        <div class="admin-selection">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col" class="text-center fs-5">Id</th>
                        <th scope="col" class="text-center fs-5">Başlık</th>
                        <th scope="col" class="text-center fs-5">Zaman</th>
                        <th scope="col" class="text-center fs-5">Konu</th>
                        <th scope="col" class="text-center fs-5">Düzenleme</th>
                        <th scope="col" class="text-center fs-5">Silme</th>
                        <th class="text-center"><a asp-controller="Admin" asp-action="Create" class="btn btn-success"><i
                                    class="fa-solid fa-plus"></i></a></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @if (Model.Any())
                    {
                        @foreach (var result in Model)
                        {
                            <tr>
                                <th scope="row" class="p-3 text-center">@result.Id</th>
                                <th scope="row" class="p-3 text-center">@result.AnaBaşlık</th>
                                <th scope="row" class="p-3 text-center">@result.DateTime</th>
                                <th scope="row" class="p-3 text-center">@result.Konu</th>
                                <th class="text-center"><a href="" class="btn btn-light"> <i
                                            class="fa-solid fa-sliders"></i></a></th>
                                <th class="text-center"><a asp-controller="Admin" asp-action="Delete" asp-route-id="@result.Id"
                                        class="btn btn-danger"><i class="fa-solid fa-eraser"></i></a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <div class="alert alert-warning">
                                <div class="text-center">
                                    <h4>Şuan da bir blog yazısı bulunmamaktadır.</h4>
                                </div>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>