@model List<WordModel>

@{
    Layout = "_AdminLayout";
}

<div class="container">
    <div class="text-center">
        <div class="d-flex justify-content-center">
            <div>
                <a class="admin mt-4" asp-controller="Admin" asp-action="UserManagement">Kullanıcı Yönetimi</a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex align-items-center">
    <div class="container mt-5">
        <div class="admin-selection">
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col" class="text-center fs-5">Id</th>
                        <th scope="col" class="text-center fs-5">Başlık</th>
                        <th scope="col" class="text-center fs-5">Zaman</th>
                        <th scope="col" class="text-center fs-5">Konu</th>
                        <th scope="col" class="text-center fs-5">Düzenleme</th>
                        <th scope="col" class="text-center fs-5">Silme</th>
                        <th class="text-center"><a asp-controller="Admin" asp-action="Create" class="btn btn-success"><i
                                    class="fa-solid fa-plus"></i></a></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @if (Model.Any())
                    {
                        @foreach (var result in Model)
                        {
                            <tr>
                                <th scope="row" class="p-3 text-center">@result.Id</th>
                                <th scope="row" class="p-3 text-center">@result.AnaBaşlık</th>
                                <th scope="row" class="p-3 text-center">@result.DateTime</th>
                                <th scope="row" class="p-3 text-center">@result.Konular.Konu</th>
                                <th class="text-center"><a asp-controller="Admin" asp-action="Design" asp-route-id="@result.Id" class="btn btn-light"> <i class="fa-solid fa-sliders"></i></a></th>
                                <th class="text-center"><a asp-controller="Admin" asp-action="Delete" asp-route-id="@result.Id" class="btn btn-danger"><i class="fa-solid fa-eraser"></i></a></th>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <div class="alert alert-warning">
                                <div class="text-center">
                                    <h4>Şuan da bir blog yazısı bulunmamaktadır.</h4>
                                </div>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<style>
    .admin {
  all: unset;
  width: 120px;
  height: 35px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.admin::after,
.admin::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.admin::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.admin::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.admin:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.admin:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.admin:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
</style>